{% extends 'home/layout.html' %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
				<h1 class="h4">Images Templates</h1>
				<a class="btn btn-success btn-sm" href="{{url_for('home.download_image_template')}}" data-toggle="tooltip" data-placement="bottom" title="Download Image Templates from Docker Hub">
					<i class="fas fa-arrow-circle-down"></i>
				</a>
			</div>

			<table id="imagetable" class="table table-hover table-sm table-striped display pt-2">
				<thead class="thead-dark">
					<tr>
						<th scope="col">REPOSITORY</th>
						<th scope="col">TAG</th>
						<th scope="col">IMAGE ID</th>
						<th scope="col">CREATED</th>
						<th scope="col">SIZE</th>
						<th scope="col">Detail</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for i in client.images() %}
						<tr>
							<td>{{i['RepoTags'][0].split(':')[0]}}</td>
							<td>{{i['RepoTags'][0].split(':')[1]}}</td>
							<td>{{i['Id'].split(':')[1][:12]}}</td>
							<td>{{i['Created']}}</td>
							<td>{{i['Size']}}</td>
							<td><a href="{{url_for('home.inspect_image_template',image_id=i['Id'].split(':')[1][:12])}}">Inspect</a></td>
							<td><a href="#" class="badge badge-danger">Delete</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</main>
	</div>
</div>
{% endblock content %}